
    <p>
        <div class="footer"> 
            <br>
            <strong> Harvard Tamid: </strong>
            <small>Project in Node, APIs, CSS</small> 
            <br>
        </div>
    </p>

</body>

</html>